* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 15px;
}

img{
  width:30px;
  height: 30px;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px;
 /* // padding-right: 30px; */
  
}
.logo{
  width: 100px;
}
.navbarInput {
  display: flex;
  flex-direction: row;
 
}
.right{
  position: absolute;
  right: 50px;
}

.left{
  position: absolute;
  left: 50px;
 }
.delete {
  padding: 4px 4px;
  background-color: #2a0845;
  border-radius: 15px;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin-top: 10px;
  position:relative;
  right: 30px;
}

.search{
  border: none;
}
.card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;
  border-style: solid;
  border-width: thick;
}


.album{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
   
    
}
.img{
  width: 130px;
  height: 150px;
}
.search {
  position: relative;
}

.inputSearch {
   width: 30vw;
   border-radius: 15px;
   height: 30px; 
   padding: 15px;
   border:none
}
.panier {
  width: 30px;
  height: 30px;
}
.App {
  text-align: center;
  background-color: #475063;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

